<nav style="background-color: rgb(101, 7, 178);" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: white;"><strong>Game.id</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <a style="color: white;margin-left: 180vh;" class="nav-item btn btn-outline-success" href="/login">Login</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        </div>
    </div>
</nav>